<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="refresh"             content="1;<%= customLink %>">
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="<%= title %>" />
    <meta property="og:description"        content="<%= description %>" />
    <meta property="og:image"              content="<%= imageUrl %>" />

    <title><%= title %></title>
</head>
<body>
<div id="root"></div>
</body>
</html>